<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.soen.moa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.random_play"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".ui.activity.startpage"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".ui.activity.TalkActivity"
            android:theme="@style/AppTheme.NoActionBar" >


        </activity>
        <activity
            android:name=".ui.activity.StartingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.GuideMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.Guide1Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.Guide2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.Guide3Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.I_GuideMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.I_Guide1Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.I_Guide2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.I_Guide3Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.MyPageActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>